<div class="display-container">
  <h2>Scouts</h2>
  <div class="table-wrapper">
    <table class="scouts-table">
      <thead>
        <tr>
          <th>Jogador</th>
          <th>Pontos</th>
          <th>Gols</th>
          <th>Assistências</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let s of scouts">
          <tr>
            <td data-label="Jogador">{{ s.player }}</td>
            <td data-label="Pontos">{{ s.pontos }}</td>
            <td data-label="Gols">{{ s.gols }}</td>
            <td data-label="Assistências">{{ s.assistencias }}</td>
          </tr>
        </ng-container>
      </tbody>
    </table>
  </div>
</div>
