<div class="container">
  <header class="header">
    <h1>⚽ Seletor de Times Fut</h1>
  </header>

  <!-- Navegação de Abas -->
  <nav class="tabs-navigation">
    <button
      class="tab-button"
      [class.active]="activeTab === 'selection'"
      (click)="setActiveTab('selection')">
      📝 Seleção de Jogadores
    </button>
    <button
      class="tab-button"
      [class.active]="activeTab === 'teams'"
      (click)="setActiveTab('teams')">
      🏆 Times Montados
    </button>
  </nav>

  <!-- Conteúdo das Abas -->
  <main class="tabs-content">
    <!-- Aba: Seleção de Jogadores -->
    <div class="tab-pane" *ngIf="activeTab === 'selection'">
      <app-player-selection
        (generateTeams)="onGenerateTeams()">
      </app-player-selection>
    </div>

    <!-- Aba: Times Montados -->
    <div class="tab-pane" *ngIf="activeTab === 'teams'">


      <app-teams-display
        [teams]="teams"
        [headToHeadPlayers]="getHeadToHeadPlayers()"
        [remainingPlayers]="remainingPlayers"
        [playCount]="playerCount"

        >
      </app-teams-display>


      <!-- Jogadores Sem Time (Se houver) -->
      <div class="leftover-players-section" *ngIf="remainingPlayers.length > 0">
        <table class="remaining-players-table">
          <thead>
            <tr>
              <th>Jogador</th>
            </tr>
          </thead>
          <tbody id="playersList">
            <tr *ngFor="let player of remainingPlayers; let i = index">
             <td colspan="2">
                        <div class="player-row">
                            <span class="player-name">{{player}}</span>
                            <button (click)="removeNewPlayer(i)" class="btn-remove">✕</button>
                        </div>
                    </td>
            </tr>

          </tbody>
        </table>
      </div>

       <!-- Seção para Adicionar Novos Jogadores -->
      <div *ngIf="teams.length !== 0" class="add-players-section" >
        <h2>➕ Adicionar Novos Jogadores</h2>
        <div class="add-players-form">
          <div class="form-group-inline">
            <input
              type="text"
              [(ngModel)]="newPlayerInput"
              (keyup.enter)="addNewPlayer()"
              placeholder="Digite o nome do novo jogador"
              class="input-new-player">
            <button (click)="addNewPlayer()" class="btn-add-player">Adicionar</button>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>

